@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Iosevka');
@import url('https://fonts.googleapis.com/css?family=Martel:300');

body {
  margin: 2% auto;
  font-family: 'Libre Baskerville', serif;
  background: whitesmoke;
}

.title {
  text-decoration: underline;
}

#content {
  margin: 20px auto;
  max-width: 65%;
}

/* Links & TOC */
a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted;
}

#table-of-contents {
  line-height: 25px;
  font-family: "Iosevka", monospace;
}

/* Headings */

h1, h2, h3, h4 {
  font-weight: lighter;
  font-family: 'Martel', serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  /* color: green; */
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

/* Heading number */

[class^='section-number'] {
  /* border: 3px solid grey; */
  padding: 1px 4px;
  text-decoration: underline;
}

/* Quotes */

blockquote {
  font-style: italic;
  line-height: 23px;
  border: 1px solid grey;
  padding: 15px;
  text-align: justify;
}

blockquote > p {
  margin: 0;
}

/* footer */
#postamble {
  text-align: center;
  font-style: italic;
}

